FLASK_SECRET_KEY=5dec1f49940bd28f389fc47407b82151f7b54f834ef1dbed80b0edb1de3ef98a
DATABASE_URL=postgresql://bookapp:bookapp@localhost:5432/bookapp
POSTGRES_USER=bookapp
POSTGRES_PASSWORD=bookapp
POSTGRES_DB=bookapp
